# Python ka chilla with baba Ammar
## Indexing and Data Structures in python

### - String Indexing

In [1]:
#initializing an string

learn = 'we are learning python'

In [2]:
# we can access each elemet of the string 
learn[0]

'w'

In [3]:
learn[1]

'e'

In [4]:
# spaces also count
learn[2]

' '

In [5]:
# also get element of the string by giving range

learn[0:2]

## Note last number in range is exclusive

'we'

In [6]:
learn[3:7]

'are '

In [7]:
len(learn)

22

In [8]:
learn[7:22]

'learning python'

In [9]:
## as we see string starts from 0, so in the above string learn we have 21 elements counts starts from 0
## but we have written 22 beacuse python will exclude last index 22

In [10]:
# Reverse
learn[-1]
# to access last element or in reverse write -1

'n'

In [11]:
learn[-7:22]

' python'

## String methods

In [12]:
#capatilization
#will capatilize the first letter
lang = 'python'

lang.capitalize()

'Python'

In [13]:
#upper case

lang.upper()

'PYTHON'

In [14]:
#lowercase
lang.lower()

'python'

In [15]:
#replace function
lang.replace('n', 'r')

'pythor'

In [16]:
statment= "we learning Python in jupyter notebook"

In [17]:
# counting letter in the string
statment.count('a')

1

In [18]:
statment.count('e')

4

In [19]:
statment.count('P')

1

In [20]:
statment.count('n')

5

In [21]:
statment.count('oo')

1

### Finding element index number

In [22]:
statment= "we learning Python in jupyter notebook"
statment

'we learning Python in jupyter notebook'

In [23]:
#using find funtion

statment.find('l')

3

In [24]:
statment.find('oo')

35

In [25]:
#spliting string

fav_fruit = "i like, mango, apple, peach"

In [26]:
fav_fruit.split(',')

['i like', ' mango', ' apple', ' peach']

---

# Basic data structure in python
1. Tuple
2. List
3. Dictionaries
4. Set

## 1. Tuple
- Order collection of different data items
- enclosed in paranthesis ()
- cannot change the elements once sorted (unmutible)

In [27]:
# creating a tuple
tup1 = (3, "python", False, 4.87)
tup1

(3, 'python', False, 4.87)

In [28]:
# checking the type of the tuple
type(tup1)

tuple

### -indexing in tuple

In [29]:
tup1[0]

3

In [30]:
tup1[3]

4.87

In [31]:
# can also do slicing like string
tup1[2:4]
# last one is exclusive

(False, 4.87)

In [32]:
# checking len of an tuple
len(tup1)

4

In [33]:
tup2 = (40, "java", True, 3.6)

In [34]:
#concatination in tuple
tup1 + tup2

(3, 'python', False, 4.87, 40, 'java', True, 3.6)

In [35]:
#concatination and we can also do repeatition
tup1*2 + tup2

(3, 'python', False, 4.87, 3, 'python', False, 4.87, 40, 'java', True, 3.6)

In [36]:
# checking min value in a tuple
tup3 = (45,11,87,21,30,10,23)
min(tup3)

10

In [37]:
#maximum value
max(tup3)

87

In [38]:
# again repitition
tup3*2

(45, 11, 87, 21, 30, 10, 23, 45, 11, 87, 21, 30, 10, 23)

In [39]:
# counting appearance of an element in tuple
tup3.count(10)

1

In [40]:
# by index fuction can also check the index of an present value
tup3.index(10)

5

---

## 2. List
- ordered collection of elements
- enclosed [] brackets
- list is mutable

In [41]:
list1 = ['mango', 200, True, 23.5]

In [42]:
#checking type
type(list1)

list

In [43]:
len(list1)

4

In [44]:
#indexing
list1[3]

23.5

In [45]:
list2 = ['apples', 200, False, 5.67]
list2

['apples', 200, False, 5.67]

In [46]:
# concatination
list1 +list2

['mango', 200, True, 23.5, 'apples', 200, False, 5.67]

In [47]:
#repeatition
list1*2

['mango', 200, True, 23.5, 'mango', 200, True, 23.5]

#### Methods of list

In [48]:
# appending new element in the list
list2.append("new element")
list2

['apples', 200, False, 5.67, 'new element']

In [49]:
#removing and element from the list

list2.remove(200)
list2

['apples', False, 5.67, 'new element']

In [50]:
list2.remove('new element')
list2

['apples', False, 5.67]

In [51]:
# remove and return by default last element the list pop()
list2.pop()

5.67

In [53]:
# removing element by index number
list2.pop(1)

False

#### Explanation
The main difference between remove and pop() is that remove() simply remove and item
from list but pop() remove the element and return it as well.

In [54]:
list1

['mango', 200, True, 23.5]

In [58]:
#inserting element on specific index
list2.insert( 2, 'Python')

In [59]:
list2

['apples', 'new element', 'Python']

In [60]:
list2.insert(1, 'mangos')

In [61]:
list2

['apples', 'mangos', 'new element', 'Python']

#### Explanation
- As we seen in list2 insert() inserts an element on specified location and move

    the elemets forward.
    - we inserted new element 'mangos' on location 1, but 'new element' was present 
    
        there so these element moved forward to the 2 location.
        
        
- **Note** the main difference between append() and insert is, append insert element 

    at the end of the list, while insert() add element to a specified index

In [62]:
list2

['apples', 'mangos', 'new element', 'Python']

In [68]:
# reverse the elements of the List
list2.reverse()
list2

['Python', 'new element', 'mangos', 'apples']

In [70]:
# Remove all the elements form the list clear()
list2.clear()
list2

[]

In [72]:
list1

['mango', 200, True, 23.5]

In [73]:
# copy all the elements of the one list into the another list order remain same
list2 = list1.copy()
list2
# as list2 was empty as we clear() all the elements form it now it holds list1 elements

['mango', 200, True, 23.5]

In [75]:
list3 = [30,12,3]

In [79]:
# adding one list to another list by extend() method
list2.extend(list3)
list2
# i have executed it three times thats why it add list3 three times with list2

['mango', 200, True, 23.5, 30, 12, 3, 30, 12, 3, 30, 12, 3]

#### Explanation
- extend() method take a list as argument and append the item of the list(list3) one by one at the end of another list(list2)

In [81]:
# sorting a list by default ascending order
list3.sort()
list3

[3, 12, 30]

In [83]:
# Descending order
list3.sort(reverse= True)
list3

[30, 12, 3]

---

## 3- Dictionaries
- An unorderd collection of elements
- key and value(key value pair)
- curly braces is used {}
- Value can be changed in dictionaries once defined(mutable)

In [84]:
marks1 = {'python': 50, 'jave': 40, "PHP": 30, "javascript":30}
marks1

{'python': 50, 'jave': 40, 'PHP': 30, 'javascript': 30}

In [85]:
# checking type
type(marks1)

dict

#### methods of dictionaries

In [88]:
# Only fetch the keys and it in a list
keys = marks1.keys()
keys

dict_keys(['python', 'jave', 'PHP', 'javascript'])

In [90]:
# Only fetch the values and it in a list
values = marks1.values()
values

dict_values([50, 40, 30, 30])

In [112]:
list5 = ["toyota", "honda", "BMW", "Audi"]

# creating dictionary form a list

cars = dict.fromkeys(list5, 1)
cars

{'toyota': 1, 'honda': 1, 'BMW': 1, 'Audi': 1}

#### Explanation
- fromkeys() method takes a list and transform it in the dictionary
- each element of the list become a key in dictionary
- the first argument is a list to be converted
- second argument is a value for each key in the list(this argument is optional default value will be none)

In [99]:
# get funtion will return the value of the specified key form the dictionary
marks1.get('python')

50

In [100]:
# to get the list whole items for the dictionary
marks1.items()

# returns a list of tuples, each tuple show key value pair

dict_items([('python', 50), ('jave', 40), ('PHP', 30), ('javascript', 30)])

In [107]:
# pop the key form dictionary and return its value
marks1.pop('PHP')

30

In [114]:
# pop an item and return a key value pair
cars.popitem()

('Audi', 1)

In [115]:
cars.popitem()

('BMW', 1)

In [116]:
cars.popitem()

('honda', 1)

In [118]:
cars

{'toyota': 1}

In [119]:
# this function the value of the is not present the it insert the key with value and return the value
cars.setdefault('honda',1)

1

In [120]:
# honda was not present in the dictionary so it inserted the honda as well with the value 1(value is optional default is none)
cars

{'toyota': 1, 'honda': 1}

In [123]:
# insert an item to the dictionary item can be dictionary or key value pair object
cars.update({"BMW":1})

In [124]:
cars

{'toyota': 1, 'honda': 1, 'BMW': 1}

---

## 4- Sets
- unordered and unindexed collection of item
- used with curly braces
- no dublicates allowed

In [127]:
set1 = {30, "python", "Range rover", True, 45.2}
set1

{30, 45.2, 'Range rover', True, 'python'}

In [128]:
#checking type
type(set1)

set

#### Methods of sets

In [129]:
# adding an element in the set if already present it will not add because dublicate is not allowed
set1.add('Range rover')
set1

{30, 45.2, 'Range rover', True, 'python'}

In [130]:
set1.add("Honda")
set1

# Honda is added because it was not present in the set

{30, 45.2, 'Honda', 'Range rover', True, 'python'}

In [131]:
set2 = {30, "python", 'toyota', 45.78,}

In [135]:
# return the difference of the two sets 
# if the same values will be dropped from the set and only different values will be showen
set1.difference(set2)

{45.2, 'Honda', 'Range rover', True}

These values of set1 were not same in the set2

In [136]:
set2.difference(set1)

{45.78, 'toyota'}

Similarly these valuesof set2 were not present in set1

In [137]:
# this fuction remove all the values from set1 which are present in set2
set1.difference_update(set2)

In [138]:
set1

{45.2, 'Honda', 'Range rover', True}

In [141]:
# this function remove an element for the set if it is present in the set
# if not present in the set it will do nothing
set1.discard('Honda')
set1

{45.2, 'Range rover', True}

In [144]:
# two new elements are added
set1.add('toyota, 45.78')
set1

{45.2, 'Range rover', True, 'toyota, 45.78'}

In [148]:
#removing and element from the set
set1.remove('toyota, 45.78')

In [149]:
set1

{45.2, 'Range rover', True}

In [151]:
# adding an element the set1
set1.add('toyota')

In [152]:
set1

{45.2, 'Range rover', True, 'toyota'}

In [153]:
# Return the element of the set1 which are present in set2
set1.intersection(set2)

{'toyota'}

In [154]:
# udate the set1 the values which are only present in set2 all other values will be droped
set1.intersection_update(set2)

In [155]:
set1

{'toyota'}

In [157]:
# Return True if two sets do not has some same  values
# Return False if same/intersection values are present
# in this case 'toyota' is the same value, so the return value is False
set2.isdisjoint(set1)

False

In [159]:
# Return True if set2 contains set1 as a subset
set1.issubset(set2)

True

In [160]:
# Return False if set2 is not a subset of set1
set2.issubset(set1)

False

In [161]:
# it Reports whether set2 contains set1 as subset
set2.issuperset(set1)

True

In [163]:
set2

{30, 45.78, 'python', 'toyota'}

In [165]:
set1

{'toyota'}

In [166]:
# only retrun the elements of set2 which are not in set1
set2.symmetric_difference(set1)

{30, 45.78, 'python'}

In [167]:
# calculate the difference in then update the set2 by dropping the items which are present in set1
set2.symmetric_difference_update(set1)

In [168]:
set2

{30, 45.78, 'python'}

In [171]:
#adding and element ot the set2
set2.add('toyota')
set1.add("range rover")

In [172]:
set2

{30, 45.78, 'python', 'toyota'}

In [173]:
set1

{'range rover', 'toyota'}

In [174]:
# simply combines the elements of the both the set and return it as new set
set2.union(set1)

{30, 45.78, 'python', 'range rover', 'toyota'}

In [177]:
# update the set 
set2.update("Ferrari")

In [178]:
set2

{30, 45.78, 'F', 'a', 'e', 'i', 'python', 'r', 'toyota'}

**End of the chapters**